In [1]:
## Project 1B

In [12]:
# Initial imports
import os
import requests
from pathlib import Path
import json
import numpy as np
import datetime as dt
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation

%matplotlib inline

In [13]:
# Load .env enviroment variables
load_dotenv()

True

In [35]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    base_url="https://paper-api.alpaca.markets",
    api_version="v2")

In [56]:
# Format current date as ISO format
today = pd.Timestamp("2021-03-31", tz="America/New_York").isoformat()
start_day = pd.Timestamp("2016-03-31", tz="America/New_York").isoformat()
# need to update timeframe to 2016

# Set the tickers
tickers = ["SCHZ", "SPY"]

# Set timeframe to '1D' for Alpaca API
timeframe = "1D"

# Get current closing prices for SPY and AGG
ticker_data = alpaca.get_barset(
    tickers,
    timeframe,
    start = start_day,
    end = today,
    limit = 1000
).df

# Preview DataFrame
ticker_data.head()

                            SCHZ                                        SPY  \
                            open     high     low   close    volume    open
time
2017-04-06 00:00:00-04:00  51.85  51.8500  51.750  51.840  256515.0     NaN
2017-04-07 00:00:00-04:00  51.91  51.9200  51.680  51.765  302885.0     NaN
2017-04-10 00:00:00-04:00  51.80  51.8400  51.760  51.810  459968.0     NaN
2017-04-11 00:00:00-04:00  51.90  51.9653  51.847  51.940  407094.0  234.87
2017-04-12 00:00:00-04:00  52.00  52.0800  51.950  52.050  443459.0  234.74


                             high     low   close      volume
time
2017-04-06 00:00:00-04:00     NaN     NaN     NaN         NaN
2017-04-07 00:00:00-04:00     NaN     NaN     NaN         NaN
2017-04-10 00:00:00-04:00     NaN     NaN     NaN         NaN
2017-04-11 00:00:00-04:00  235.18  233.34  235.04  63951745.0
2017-04-12 00:00:00-04:00  234.96  233.77  234.10  55338215.0

In [54]:
#ticker_data.drop("open", "volume")
#ticker_data.head()
```
df_schz_closingprice = pd.DataFrame()
df_schz_closingprice["SCHZ"]= ticker_data["SCHZ"]["close"]
df_schz_closingprice.index=df_schz_closingprice.index.date
df_schz_closingprice.head()
```

SyntaxError: invalid syntax (<ipython-input-54-4f1cd3f55aa0>, line 3)

In [57]:
#ticker_data.drop("open", "volume")
#ticker_data.head()

df_closingprice = pd.DataFrame()
df_closingprice["SCHZ"]= ticker_data["SCHZ"]["close"]
df_closingprice["SPY"]= ticker_data["SPY"]["close"]
df_closingprice.index=df_closingprice.index.date
df_closingprice.head()

              SCHZ     SPY
2017-04-06  51.840     NaN
2017-04-07  51.765     NaN
2017-04-10  51.810     NaN
2017-04-11  51.940  235.04
2017-04-12  52.050  234.10

In [70]:
df_closingprice.isnull().sum()

SCHZ    0
SPY     0
dtype: int64

In [71]:
df_closingprice = df_closingprice.dropna().copy()

In [72]:
df_closingprice.isnull().sum()

SCHZ    0
SPY     0
dtype: int64

In [73]:
df_closingprice.count()

SCHZ    997
SPY     997
dtype: int64

In [74]:
df_closingprice.head()

             SCHZ     SPY
2017-04-11  51.94  235.04
2017-04-12  52.05  234.10
2017-04-13  52.11  232.54
2017-04-17  52.11  234.57
2017-04-18  52.29  233.86

In [79]:
#Calculating initial traditional Income portfolio asset quantities
income_portfolio_amount = 100000
income_spy_percentage = 0.2
income_schz_percentage = 0.8
spy_close_price = df_closingprice["SPY"][0]
schz_close_price = df_closingprice["SCHZ"][0]
income_spy = income_portfolio_amount * income_spy_percentage / spy_close_price
income_schz = income_portfolio_amount * income_schz_percentage / schz_close_price
print(income_spy)
print(income_schz)

85.0918992511913
1540.2387370042356

In [82]:
income_portfolio_returns = df_closingprice.pct_change()
income_portfolio_returns = income_portfolio_returns.dropna().copy()
income_portfolio_returns.head()

                SCHZ       SPY
2017-04-12  0.002118 -0.003999
2017-04-13  0.001153 -0.006664
2017-04-17  0.000000  0.008730
2017-04-18  0.003454 -0.003027
2017-04-19 -0.001339 -0.001668

In [87]:
income_portfolio_cumulative_returns = (1 + income_portfolio_returns).cumprod()
#print(income_portfolio_cumulative_returns.shape)
percent_pf = income_portfolio_cumulative_returns.dot([0.8],[0.2])
print(percent_pf.shape)
#income_portfolio_cumulative_returns.plot(figsize=(20,10), title = "Cumulative Returns")

TypeError: dot() takes 2 positional arguments but 3 were given

In [ ]:
#Calculating initial traditional Balanced portfolio asset quantities

In [ ]:
#Calculating initial traditional Growth portfolio asset quantities